body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin: 10vh;
}

.search-container {
    text-align: center;
}

#searchForm input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    width: 300px;
}

#searchForm button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#searchForm button:hover {
    background-color: #0056b3;
}
#results {
    margin-top: 20px;
    text-align: left;
    border: 15px solid gray;
}